In [ ]:
# olap query example
con = PostgresConnection().getConnection()
#curr = con.cursor()
select_stmts="""SELECT time_dim.year,SUM(fact_table.total_price) 
FROM ecomdb_schema.fact_table 
JOIN ecomdb_schema.time_dim ON
time_dim.time_key = fact_table.time_key 
GROUP BY CUBE(time_dim.year) 
ORDER BY time_dim.year"""
cur = con.cursor()
cur.execute(select_stmts)
records= cur.fetchall()
records
year_wise_total_sale_price_df=pd.DataFrame(list(records), columns=['Year','Total sales'])
year_wise_total_sale_price_df
year_wise_total_sale_price_df=year_wise_total_sale_price_df.dropna()
year_wise_total_sale_price_df

In [ ]:
#day wise sales
select_stmts="""SELECT DAY,SUM(CONSULT_FEE) 
FROM hospital.bill_info 
GROUP BY CUBE(DAY) 
ORDER BY CONSULT_FEE"""

In [ ]:
select_stmts="""SELECT DAY,DEPARTMENT_NO,SUM(CONSULT_FEE) 
FROM hospital.bill_info 
GROUP BY CUBE(DAY,DEPARTMENT_NO) 
ORDER BY CONSULT_FEE"""

In [ ]:
#month wise sales
select_stmts="""SELECT MONTH,SUM(CONSULT_FEE) 
FROM hospital.bill_info 
GROUP BY CUBE(MONTH) 
ORDER BY CONSULT_FEE"""

In [ ]:
#day wise patients count
select_stmts="""SELECT DAY,COUNT(APPOINT_NO) 
FROM hospital.bill_info 
GROUP BY CUBE(DAY) 
ORDER BY APPOINT_NO"""