In [1]:
import numpy as np
import pandas as pd

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\arifurk\myenv\lib\site-packages (3.0.10)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\arifurk\myenv\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
df=pd.read_excel('C:/Users/Arifurk/HDA-5th-Round-vInternship\project-VInternship\project_hospital_dashboard\raw data\department.xlsx')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1622238927.py, line 1)

In [4]:
df

       DEPARTMENT_NO           DEPARTMENT_NAME
0               1019   ENT & Head-Neck Surgery
1            4000309               Dermatology
2            4000252                  Oncology
3            4000309               Dermatology
4            4000321  Pediatrics & Neonatology
...              ...                       ...
13895        4000321  Pediatrics & Neonatology
13896        4000290           General Surgery
13897        4000252                  Oncology
13898        4000008                 Neurology
13899        4000008                 Neurology

[13900 rows x 2 columns]

In [30]:
print(pd.unique(record['continent']))

SyntaxError: invalid syntax (3114223458.py, line 1)

In [31]:
print(df['DEPARTMENT_NO'].unique())

[   1019 4000309 4000252 4000321 4000357    1162 4000317    1066 4000327
 4000288 4000328    1068 4000255 4000008 4000308 4000250 4000361 2000004
 4000290    1028 4000381    1176    1158    1010]

In [32]:
df

       DEPARTMENT_NO           DEPARTMENT_NAME
0               1019   ENT & Head-Neck Surgery
1            4000309               Dermatology
2            4000252                  Oncology
3            4000309               Dermatology
4            4000321  Pediatrics & Neonatology
...              ...                       ...
13895        4000321  Pediatrics & Neonatology
13896        4000290           General Surgery
13897        4000252                  Oncology
13898        4000008                 Neurology
13899        4000008                 Neurology

[13900 rows x 2 columns]

In [5]:
dups_shape = df.pivot_table(columns=['DEPARTMENT_NO'], aggfunc='size')

In [6]:
dups_shape

DEPARTMENT_NO
1010         28
1019        404
1028        315
1066        560
1068        364
1158         32
1162       1558
1176         82
2000004      39
4000008    1768
4000250     579
4000252     862
4000255     887
4000288      19
4000290     145
4000308      19
4000309    1262
4000317    1334
4000321    1882
4000327     131
4000328     976
4000357     456
4000361     153
4000381      45
dtype: int64

In [43]:
df = df.drop_duplicates(subset=['DEPARTMENT_NO','DEPARTMENT_NAME'], keep='last')

In [44]:
df

       DEPARTMENT_NO                  DEPARTMENT_NAME
11791        4000288      Plastic & Aesthetic Surgery
13342        4000308  Dental and Maxillofacial Center
13508        2000004                  Cardiac Surgery
13744           1158                      Orthopedics
13775        4000361                     Rheumatology
13804        4000381                Surgical Oncology
13810           1176               Pediatrics Surgery
13839           1019          ENT & Head-Neck Surgery
13841           1068                          Urology
13866        4000327                 Vascular Surgery
13870        4000357               Colorectal Surgery
13874        4000309                      Dermatology
13877        4000328             Respiratory Medicine
13879           1066                             GHPD
13882        4000255                       Nephrology
13885           1028                      Haematology
13886           1162                       Cardiology
13887        4000317       Obstetrics and Gynaecology
13890        4000250                Internal Medicine
13894           1010                    Endocrinology
13895        4000321         Pediatrics & Neonatology
13896        4000290                  General Surgery
13897        4000252                         Oncology
13899        4000008                        Neurology

In [39]:
df.to_csv('department.csv')